[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "downloadpytorch"
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true

[packages]
jupyter = "*"
matplotlib = "*"
missingno = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
pillow = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
statsmodels = "*"
torch = "*"
torchinfo = "*"
torchvision = "*"

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
ipykernel = "*"
jupytext = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
tensorboard = "*"
torch-tb-profiler = "*"

[requires]
python_version = "3.9"
